.w3eden .bootstrap-select span.filter-option{ background: transparent !important; }
.w3eden .wpdm-all-categories div.cat-div{ margin-bottom: 10px; }
.w3eden .wpdm-all-categories a.wpdm-pcat{ font-weight: 800; }
.w3eden .wpdm-all-categories a.wpdm-scat{
    font-weight: 400;
    font-size: 9pt;
    margin-right: 10px;
    opacity: 0.6;
}
.bcsep{
    background: url("../images/double-arrow.svg") center center no-repeat;
    background-size: 12px;
    width: 12px;
    height: 8px !important;
    margin: 0 3px;
    display: inline-block;
}

#inp .bcsep{
    height: 8px !important;
}
.w3eden .input-group.input-src{
    border: 1px solid  #d1d8df;
    border-radius: 4px;
    overflow: hidden;
}
.w3eden .input-group.input-src  .form-control{
    border: 0  !important;
    box-shadow: none;
}
.w3eden .input-group.input-src .btn,
.w3eden .input-group.input-src .btn:active,
.w3eden .input-group.input-src .btn:hover{
    color: #acc4db !important;
    background: #ffffff !important;
    box-shadow: none;
}
.w3eden .wpdm-categories ul li,
.w3eden .wpdm-downloads ul li{
    list-style: none !important;
    list-style-type: none !important;
}
.w3eden .wpdm-categories ul:not(.row){
    list-style: none!important;
    padding: 0px !important;
    margin: 0px !important;
}
.w3eden .wpdm-categories ul.row .col-md-4{
    padding-bottom: 15px;
    position: relative;
}
.w3eden .wpdm-categories ul.row .col-md-4 > .dropdown-menu{
    left: 15px;
    margin-top: -15px !important;
    width: calc(100% - 30px);
}

.w3eden .wpdm-count{ font-size:12px; color:#888; }

.w3eden .input-src #src:focus + .input-group-append .btn{
    border-color: #66afe9 !important;
}
#wpdm-downloads *{ font-size: 10pt; }
#wpdm-downloads .wpdm-loading{
    padding: 30px 40px;
    letter-spacing: 1px;
    font-size: 12pt;
    position: fixed;
    bottom: 0;
    width: 300px;
    text-align: center;
    border-radius: 8px 8px 0 0 !important;
    left: calc( 50% - 150px );
}

.w3eden .btn-ddm{
    position: absolute;right: 4px;border:0 !important;
    -webkit-border-top-left-radius: 0px !important;
    -webkit-border-bottom-left-radius: 0px !important;
    -moz-border-radius-topleft: 0px !important;
    -moz-border-radius-bottomleft: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    background:rgba(0,0,0,0.2) !important;
    color: #ffffff !important;
    height: calc(100% - 8px);
}
.w3eden .panel-footer img{
    max-height: 30px;
}

#srcp .input-group{
    width: 100%;
}
#srcp .input-group .input-group-addon{
    background: #ffffff;
    border-radius: 3px 0 0 3px;
}
#srcp .input-group .form-control{
    border-radius: 0 3px 3px 0;
}

.wpdm-cat-dropdown .wpdm-cat-item.dropdown-submenu{
    position: relative;
}
.wpdm-cat-dropdown .wpdm-cat-item.dropdown-submenu:hover > .dropdown-menu{
    display: block;
    top: 0;
    left: 80%;
}
.text-left{
    text-align: left !important;
}

ul.dropdown-menu{
    border: 0;
}

.dropdown-menu .wpdm-cat-link.text-left {
    line-height: 32px;
}
ul.wpdm-cat-dropdown.row {
    margin-bottom: 0;
}

.w3eden .breadcrumbx {
    line-height: 22px;
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: 3px;
}
.w3eden .breadcrumbx a,
.w3eden .breadcrumbx i{
    margin: 0 2px;
    font-weight: 800;
}

.list-group-item .fas{
    margin-right: 5px;
}
.w3eden .list-group, .list-group-item{
    border-radius: 0 !important;
    position: relative;
}
.w3eden .table-border{
    border: 1px solid #dddddd;
}
.w3eden .table-border td img{
    box-shadow: none;
}
.w3eden .table-border td{
    padding: 10px 15px !important;
    vertical-align: middle !important;
}
.btn-block .pull-right{
    z-index: 999999 !important;
}
ul#wpdm-tags,
ul#wpdm-tags li,
.w3eden ul.wpdm-cat-tree,
.w3eden ul.wpdm-cat-tree li{
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}
#wpdm-tags li label, #wpdmcat-tree li label {
    margin: 0 !important;
    font-weight: 400;
}

.w3eden .wpdm-cat-tree .wpdm-cat-item{
    margin-bottom: 2px !important;
    list-style: none;
}
.w3eden .wpdm-cat-tree .wpdm-cat-item .btn{
    text-align: left !important;
}
.w3eden .wpdm-cat-tree .wpdm-cat-item a{
    border: 0;
    text-decoration: none;
    color: #ffffff;
    font-size: 11px;
}
.w3eden .wpdm-cat-item .wpdm-dropdown-menu{

    padding: 2px 0 0 15px !important;

}

.w3eden .wpdm-cat-tree .wpdm-cat-item a.btn.btn-flat{
    background: #ffffff;
    border: 1px solid #dddddd;
    color: #444444;
    text-transform: unset;
    font-weight: 400;
    line-height: 20px;
    height: 38px;
}
.w3eden .wpdm-cat-tree .wpdm-cat-item a.btn.btn-flat:not(.btn-clps){
    padding-left: 30px;
}
.w3eden .wpdm-cat-tree .wpdm-cat-item a.btn.btn-flat:not(.btn-clps):before{
    position: absolute;
    content: "\f07b";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    left: 10px;
}
.w3eden .wpdm-cat-tree .wpdm-cat-item a.btn.btn-flat:not(.btn-clps).active:before{
    content: "\f07c";
}

.wpdmap-header-card .card-footer {
    background-color: rgba(0,0,0,0.02);
    border-top: 1px solid rgba(0, 0, 0, 0.06);
}
.wpdmap-header-card{
    margin-bottom: 30px;
}
.wpdmap-card-filter .card-body{
    max-height: 200px;
    overflow: auto;
}
.wpdmap-card-filter .card-body *{
    font-size: 13px;
}
.wpdmap-card-filter .card-header{
    background-color: rgba(0,0,0,0.02);
}
.wpdmap-card-filter .card-header.filter-header .form-control{
    border: 0 !important;
    box-shadow: none !important;
    font-size: 13px;
    padding: 0 15px;
    height: 32px;
    line-height: 32px;
}
.daterangepicker .calendar-table th, .daterangepicker .calendar-table td{
    padding: 5px 10px !important;
}